.dashboard-container {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
}

/* Sidebar Styles */
.sidebar {
  width: 220px;
  background-color: #1f1f20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

.sidebar.open {
  width: 220px;
  padding: 20px;
  opacity: 1;
  pointer-events: auto;
}

.sidebar h2 {
  font-size: var(--font-size-heading);
  color: var(--color-heading);
  margin-bottom: 1rem;
}

.sidebar a {
  color: var(--color-heading); 
  text-decoration: none;
  margin: 10px 0;
  font-weight: var(--font-weight-bold);
  transition: color 0.2s ease;
}

button:hover {
  background-color: var(--btn-hover-bg); /* This uses soft orange */
}

.sidebar a:hover {
   color: var(--color-accent);
}

.sidebar-btn {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 16px;
  margin: 6px 0;
  border: none;
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  color: var(--color-heading);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;

  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sidebar-btn:hover {
  background-color: var(--btn-hover-bg); /* Lighter orange */
}



/* Main Content */
.main {
  flex: 1;
  padding: 40px;
  transition: all 0.3s ease;
}

.main h1 {
  font-size: var(--font-size-heading);
  color: var(--color-heading);
}

 /* 3 horizontal Line */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.hamburger:hover {
  background-color: transparent;
}

/* Bars - default orange */
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-accent); /* Orange */
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

/* Bars - light orange on hover */
.hamburger:hover .bar {
  background-color: var(--btn-hover-bg); /* Lighter orange */
}


